/* Jost */
@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-style: normal;
  src: @import url(https://indestructibletype.com/fonts/Jost.css); 
  src: local('Jost Book'), local('Jost-400-Book'),
       url('../fonts/Jost-400-Book.ttf') format('truetype'); 
}
/* Inter */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  src: @import url(https://rsms.me/inter/inter.css);   
  src: local('Inter Regular'), local('Inter-Regular'),
      url('../fonts/Inter-Regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/Inter-Regular.woff') format('woff'), /* Modern Browsers */
      url('../fonts/Inter-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}



/* ibm-plex-mono-500italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/ibm-plex-mono-v6-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono Medium Italic'), local('IBMPlexMono-MediumItalic'),
       url('../fonts/ibm-plex-mono-v6-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v6-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v6-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v6-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v6-latin-500italic.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
